<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
  </head>
  <body>
    
    <nav>
      <h1>Selamat Datang</h1>
      <!-- <h2>Dibuat Oleh <span>zaini ilham</span></h2> -->
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/tambah">Tambah Data</a></li>
        <li><a href="/list">List Data</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>

    <div class="content">
      <!-- <img src="/static/zaini.jpg" width="150px"> -->
      <h1>Muhammad Hanaul Rofiq</h1>
        <h3>MAHASISWA</h3>
    </div>
  </body>
</html>